<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Frank Midigo · </title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header class="container">
      <nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item is-size-3" href="/">
            Frank Midigo
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" target="_blank" href="https://github.com/MidigoF/">Github</a>
            <a class="navbar-item" target="_blank" href="https://twitter.com/midigo_frank">Twitter</a>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
